body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}


img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 30px;
   text-align: center;
}

/**********************************
header
***********************************/

header {
  border-radius: 20px;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -px 0 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}



/*nav*/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 5px;
  padding: 10px;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/*color*/

/*body*/
body {
  background-color: #000000;
  color: #999;
}

/*header*/
header {
  background: #F8C4FE;
  border-color: #6e83ff;
}

/*about me*/

#about_me {
 font-family: 'monospace', monospace;
font-size: 1.125em;
    color: #FFFFFF;
    background: #F8C4FE;
        border: 5px solid #6e83ff;
    border-radius: 10px;
width: 20%;
  float:left;
  margin-right: 20px;
     margin-top: %;
    font-weight: bold;

}



/* nav background on mobile */
nav {
  background: #6e83ff;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #F8C4FE;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #6e83ff;
}

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 30%;
  }

#cube {
  float:left;
  max-width: 110px;
  margin-left: 2%;
}


  #logo {
    float: left;
    margin-left: 2%;
    text-align: left;
    width: 30%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 10px solid #6e83ff;
    margin-bottom: 60px;
  }

/*showcase*/

#showcase {
  margin: 10px;
  padding: 0;
  list-style: none;
    margin-top: 5%;
      border-radius: 10px;
  

}

#showcase li {
  display: inline;
  float: left;
  width: 20%;
  margin: 2%;
  border-radius: 10px;
  border-bottom: 5px solid #F8C4FE;
  background-color: #6e83ff;
  color: #bdc3c7;
}

#showcase li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  color: #FFFFFF; 
}


}